.form-group {
    padding: 0.7rem 0;
}

input[type="number"] {
    width: 100%;
    padding: 0.7rem;
    border: $grey-border;
}

.btn {
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-primary {
    padding: 1rem 2rem;
    background: $primary-color;
    color: #fff;
}
